.popUpCompleto {
   margin: 5% 3%;
}

h2 {
   margin-top: 2%;
   padding-right: 2%;
}

.cabecera {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

input {
   width: 100%;
   padding: 0.7rem !important;
   margin: 1% !important;
   border-radius: 4px !important;
}

.input-div input {
   border: 1px solid var(--EXTRA_GRAY) !important;
}

.input-div,
.input-div-disabled {
   display: flex !important;
   flex-direction: column !important;
   margin: 1%;
}

.input-div-disabled input {
   display: flex !important;
   flex-direction: column !important;
   background-color: #f5f5f5;
   border: 1px solid var(--EXTRA_WHITE);
   display: flex;
   align-items: center;
}

.piePopUp {
   margin-top: 4%;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

button {
   padding: 2% 4% 2% 4%;
   border-radius: 10px;
   border: none;
   font-size: 16px;
}

.btnGuardar {
   background-color: var(--TERTIARY_600);
   color: white;
}

/* Responsive */

@media (max-width: 768px) {
}
