<div class="popUp">
   <div class="cabecera">
      <h1>¿Desea eliminar el siguiente consumo?</h1>
   </div>

   <form [formGroup]="formDeleteConsumoDiario">
      <div class="formPeso">
         <div class="infoPeso">
            <div class="infoIzq">
               <p><strong>Fecha: </strong>{{ fecha }}</p>
               <p><strong>Hora: </strong>{{ hora }}</p>
            </div>
            <div class="infoDer">
               <p><strong>Comida: </strong>{{ comida }}</p>
               <p><strong>Calorías: </strong>{{ calorias }}</p>
            </div>
         </div>
      </div>
      <div class="pieForm">
         <button class="btnCancelar" (click)="closeDialog()">Cancelar</button>
         <button class="btnEliminar" (click)="deleteConsumoDiario()">Eliminar</button>
      </div>
   </form>
</div>
