<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página en Desarrollo</title>
    <style>

    </style>
</head>
<body>
    <div class="divMensaje">
        <h1>Página en Desarrollo</h1>
        <p class="pInformar">Estamos trabajando en mejorar nuestra página de ejercicios.</p>
        <p class="pMensaje">¡No dejes de hacer ejercicio! Cada esfuerzo cuenta.</p>
        <p><a routerLink="/home" routerLinkActive="active-link" class="btnVolver fakeButton">Volver al inicio</a></p>
    </div>
</body>
</html>
