<div class="swichtContentDiv">
    <div class="form-header">
        <div>
            <h2>¿Qué quiere proponer?</h2>
        </div>
        <div>
            <span class="close-button" (click)="closeDialog()">X</span>
        </div>
      </div>
    <div class="divBtns">
        <button class="btnSwitchProponer btnReceta fakeButton" (click)="irAReceta()">Proponer Receta</button>
        <button class="btnSwitchProponer btnAlimento fakeButton" (click)="irAAlimento()">Proponer Alimento</button>
    </div>
</div>